@model ResumenEmpleados

@{
    ViewData["Title"] = "Empleados Resumen";
}

<h1>Empleados Resumen</h1>

<h2 style="color:blue">@ViewBag.Mensaje</h2>

@if (Model != null)
{
    <div style="background-color:lightblue">
        <h1>Suma salarial: @Model.SumaSalarial</h1>
        <h1>Media salarial: @Model.MediaSalarial</h1>
        <h1>Máximo salario: @Model.MaximoSalario</h1>
    </div>

    <table class="table table-active">
        <thead>
            <tr>
                <th>APELLIDO</th>
                <th>OFICIO</th>
                <th>FECHA ALTA</th>
                <th>SALARIO</th>
                <th>DEPARTAMENTO</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Empleados)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdEmpleado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Oficio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaAlta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdDepartamento)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

